#app, #play, #break, #pause, #stop {
  border: 2px solid black;
}


#app, #collapseSettings, #collapseRecord {
    border-radius: 5px;
}

.card-header, .card-footer, .modal-header {
 background-color: mediumaquamarine;
}

a:hover {
    text-decoration: none;
}

.fa-smile-wink {
    border-radius: 100%;
}

@keyframes flash {
    from {color: black;}
    to  {color: lightgray;}
}

.fade-in {
    color: black;
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


